/* globals */
body {
    margin: 0;
    background-color: #F6F6F6;
    font-family: 'Raleway';
    color: black;
}

/* header */

header {
    background-color: #0095D3;
    margin: 0;
    color: white;
}

h1, h2 {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-size: 32pt;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-size: smaller;
    font-weight: lighter;
    background-color: #004068;
    height: 100%;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* calendar and container */

#calendarContainer {
    height: 8in;
    width: 90%;
    margin: 15px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    width: 99.9%;
    height: 100%;
    user-select: none;
    font-family: monospace;
    font-size: larger;
}

table tr th {
    font-family: 'Raleway';
    font-size: larger;
}

table tr {
    height: 2%;
    width: 100%;
}

table tr td {
    border: 1px solid black;
    width: 12.5%;
    height: max-content;
}

.labelCell {
    border: 0px;
    width: 4%;
    text-align: right;
    padding-right: 1%;
}

/* out container */

#leftOut, #rightOut {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    
}

#leftOut {
    margin-left: 4%;
    margin-right: 1%;
}

#rightOut {
    margin-right: 4%;
    margin-left: 1%;
}

#out {
    display: block;
    width: 100%;
    height: 3in;
    background-color: #FFFFFF;
}

#outContainer button {
    display: inline-block;
    margin-top: 10px;
    
}